body, html {
  height: 100%;
}

body {
  font-family: Verdana;
  background: url("background-2.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-device-width: 480px)
{ .container {
  justify: center;
  margin: auto;
}
.guessBar {
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: rgb(50, 50, 50, 0.9);
 background-size: cover;
 border-radius: 30px;
 text-align: center;
 color: white;
 line-height: 1.5;
 margin: 1.66%;
 padding: 3% 0;
}
}


@media (min-device-width: 480px)
{ .container {
  justify: center;
  margin: auto;
  max-width: 600px;
}
.guessBar {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(50, 50, 50, 0.9);
  background-size: cover;
  border-radius: 30px;
  text-align: center;
  color: white;
  line-height: 1.5;
  margin: 1.66%;
  padding: 3% 0;
}
}


h1 {
  font-size: 130%;
  font-family: 'Press Start 2P', cursive;
}

H1 #rgb {
  font-size: 1.5em;;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.66%;
  height: 7%;
}

.correct {
color: black;
justify-content: center;
font-size: 130%;
margin: 0px;
}

.correct-right {
color: green;
}

.correct-wrong {
color: red;
}

.navbar {
  display: flex;
}

button {
  font-size: 50%;
  padding: 0 20px;
  background-color: rgb(153, 153, 153, 0.5);
  color: white;
  border: none;
  border-radius: 30px;
}

.new {
  background: rgb(131,58,180);
  background: linear-gradient(131deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.game {
  padding-top: 0px;
  height: 70%;
}

.row1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.row2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.box {
  background: purple;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 20px;
}
